################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CloneCW3/.vs
/Week2 HW/.vs/Week2 HW
/ITP136/.vs/ITP136
